body {
    background: aliceblue;
}

svg {
    height: 500px;
}

svg .rightarmX {
    animation: moveforward 10s ease infinite;
}

@keyframes moveforward {
    0% { opacity: 1; }
    10% { opacity: 0.7; rotation: 30deg; rotation-point: center }
    15% { opacity: 0.3; }
    100% { opacity: 0; }
}