body {
  /* background: blue; */
}

.right-leg-group {
  animation: walk 2s infinite;
  animation-timing-function: ease-in-out;
  transform-origin: 50% 50%;
}

.left-leg-group {
  animation: walk 2s infinite;
  animation-delay: 1s;
  animation-timing-function: ease-in-out;
  transform-origin: 50% 50%;
}

@keyframes walk {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(30deg);
  }
  75% {
    transform: rotate(-50deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
